<!DOCTYPE html>
<html lang="en">
<head> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Sign Up</title>
  <link rel="stylesheet" type="text/css" href="userdash.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</head>
<body>
  <div class="addcontain">
    <div class="header">  
      <h1>
      <a href="file:///Users/Master/Documents/userdash/Manageusers.html"><font color="white">dashboard<font></a>
        <a href="file:///Users/Master/Documents/userdash/profile.html"><font color="white">profile<font></a>
      </h1>
      <h2 align="right">
      <a href="file:///Users/Master/Documents/userdash/login.html"><font color="white">log off<font></a>
      </h2>
    </div>
    <div class="content">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="exampleInputFN">First Name</label>
            <input type="first_name" class="form-control" id="exampleInputFN" placeholder="Enter first_name">
          </div>
          <div class="form-group">
            <label for="exampleInputLN">Last Name</label>
            <input type="last_name" class="form-control" id="exampleInputLN" placeholder="Enter last_name">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="exampleInputPasswordconfim">Confirm Password</label>
            <input type="passwordconfirm" class="form-control" id="exampleInputPasswordconfim" placeholder="confirm password">
          </div>
          <a href="file:///Users/Master/Documents/userdash/Manageusers.html" class="btn btn-light" role="button">Submit</a>
      </form>
      </div>

  </div>

</body>
</html>